/*!
 * snakeskin.github.io
 * https://github.com/SnakeskinTpl/snakeskin.github.io
 *
 * Released under the MIT license
 * https://github.com/SnakeskinTpl/snakeskin.github.io/blob/master/LICENSE
 */

@import "nib/reset"

global-reset()
reset-html5()

html, body
	height 100%

html
	font-size 14px
	font-family "Open Sans", sans-serif

	@media all and (min-width 1900px)
		font-size 16px

body
	min-width 80rem
	line-height 1.8

for $i in 1..6
	h{$i}
		position relative
		margin (0.15 * (6 - $i))rem 0
		padding 0.2em
		font-weight bold
		font-size (2 - 0.2 * $i)rem

p
	margin 0.2rem
	padding 0.2rem

strong
	font-weight bold

em
	font-style italic

$linkColor = #49401B
$hoverLinkColor = #B31533
$activeLinkColor = lighten($hoverLinkColor, 20%)

a
	color $linkColor

	&:hover
		color $hoverLinkColor

	&:active
		color $activeLinkColor

	img
		border 0

code
	padding 0.1rem 0.3rem
	border 1px solid #EEE
	background #F0F0F0

pre > code
	padding 0
	border 0
	background none

table
	margin 0.8rem
	border-collapse collapse

td, th
	padding 0.3rem
	border 1px solid #EEE
	text-align center

th
	font-weight bold

ul, ol
	margin 0.8rem

ul
	list-style-type disc

ol
	list-style-type decimal
